.container {
	height: 100%;
	/* display:flex;
	justify-content:center;
	align-items:center; */
}

.login-form {
	margin-top: 30vh;
}

.login-form > div {
	text-align: center;
}

.user-avatar {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
