<div class="container">
	<div class="row">
		<div class="col-md-12">

         <div class="row">
				<div class="col-md-12">
					<div class="page-header text-center">
						<h1>
							Beardy App File
						</h1>
					</div>
				</div>
			</div>

         <div class="row">
				<div class="col-md-12">
				<input type="file" name="Upload some file" name="files[]" id="files">
				<input type="button" ng-click="uploadFile()" value="Upload File">
					<!-- {{yo}} -->
					<!-- {{fileList.length}} -->
					<ul>
						<li ng-repeat="file in fileList">
						<input type="checkbox" ng-click="addFile(file)" />
						<a href="{{file.publicUrl}}" target="_blank">{{file.name}}</a> - 
						<a href="{{file.publicUrl}}" download="text.txt">Download</a>
						<button ng-click="deleteFile(this)" name="{{file.name}}">delete file</button>
						</li>
					</ul>
					<input type="text" ng-model="sharedUser" placeholder="enter the user">
					
					<button ng-click="share()">Share</button>
				</div>
			</div>
			<button ng-click="logOut()">Exit</button>
			<button ng-click="multyDelete()">Delete multiply files</button>

		</div>
	</div>
</div>
