<div class="container">
	<div class="row">
		<div class="col-md-12">

		     <div class="row">
		     	<div class="col-md-12">
					<div class="page-header text-center">
						<h1>
							Beardy App Main
						</h1>
					</div>
				</div>
			</div>

		 	<div class="row">
				<div class="col-md-3 col-sm-3">
					<button ng-click="goToFile()">Got to File Manager</button>
				</div>

				<div class="col-md-3 col-sm-3">
					<button ng-click="goToGeo()">Got to Geo Manager</button>
				</div>

				<div class="col-md-3 col-sm-3">
					<button ng-click="goToUser()">Got to User Manager</button>
				</div>

				<div class="col-md-3 col-sm-3">
					<button ng-click="goToMessage()">Got to Message Manager</button>
				</div>

				<div class="col-md-3 col-sm-3">
					<button ng-click="logOut()">Exit</button>
				</div>
			</div>

		</div>
	</div>
</div>
